<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <!--
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    -->
  <link href="./assets/css/seldovia-remembers.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
  <header>
    <div class="heading">
      <div class="heading-shadow">
        {{ page.title | default: site.title | default: site.github.repository_name }}</div>
      {{ page.title | default: site.title | default: site.github.repository_name }}
    </div>
    <div class="sub-heading">{{ page.description | default: site.description | default: site.github.project_tagline }}
    </div>
  </header>
  <div class="wrapper">
    <nav>
      <ul></ul>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
    </footer>
  </div>
</body>

</html>